[submodule "Argument_search"]
	path = Argument_search
	url = https://github.com/seajoyer/Argument_search
[submodule "Vector_structure"]
	path = Vector_structure
	url = https://github.com/seajoyer/Vector_structure
[submodule "Machine_units"]
	path = Machine_units
	url = https://github.com/seajoyer/Machine_units
[submodule "Interpolation"]
	path = Interpolation
	url = https://github.com/seajoyer/Interpolation
[submodule "Dynamic_matrix"]
	path = Dynamic_matrix
	url = https://github.com/seajoyer/Dynamic_matrix
[submodule "Numerical_Derivatives"]
	path = Numerical_Derivatives
	url = https://github.com/seajoyer/Numerical_Derivatives
[submodule "Doubly_Linked_List"]
	path = Doubly_Linked_List
	url = https://github.com/seajoyer/Doubly_Linked_List
[submodule "Numerical_integration"]
	path = Numerical_integration
	url = https://github.com/seajoyer/Numerical_integration
[submodule "Nonlinear_Solver"]
	path = Nonlinear_Solver
	url = https://github.com/seajoyer/Nonlinear_Solver
[submodule "Boundary_problem"]
	path = Boundary_problem
	url = https://github.com/seajoyer/Boundary_problem
[submodule "Wave_equation"]
	path = Wave_equation
	url = https://github.com/seajoyer/Wave_equation
[submodule "Thermal_equation"]
	path = Thermal_equation
	url = https://github.com/seajoyer/Thermal_equation
